:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --panel-bg: #fafafa;
  --border: #e5e4e7;
  --accent: #fc4c02;
  --accent-hover: #e04502;

  font: 15px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --panel-bg: #1c1d24;
    --border: #2e303a;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  height: 100svh;
}

h1 {
  font-family: inherit;
  font-weight: 600;
  color: var(--text-h);
}

input,
button {
  font: inherit;
}
